.grid {
    width: 20px;
    height: 20px;
    margin-left: -1px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

.row {
    margin-bottom: -5px;

   
}

#container {
    width: 400px;
    height: 400px;
}

.hover {
    background-color: black;
} 

