

.grid {
    width: 20px;
    height: 20px;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

#container {
    width: 404px;
    height: 404px;
    line-height: 0px;
    border: 2px solid red;
    margin: 0 auto;
}

.hover {
    background-color: black;
}

.control {
    margin-bottom: 10px; 
}

